/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-card {

}
.el-breadcrumb {
    margin-bottom: 15px;
}
.el-table {
    font-size: 12px;
    margin-top: 12px;
}
.el-pagination {
    margin-top: 12px;
}
.el-steps {
    margin: 15px 0px;
}
.el-step__title {
    font-size: 10px;
}
.ql-editor {
    min-height: 300px;
}